# Flutter
.dart_tool/
.packages
build/
*.iml
.idea/
.vscode/
*.lock

# Native
native/build/
*.o
*.obj
*.dll
*.dylib
*.so

# Media files
*.mp4
*.mkv
*.mov
*.avi
*.webm
*.mxf

# Misc
.DS_Store
Thumbs.db

# CI logs
logs_*/
log/
